@model IEnumerable<info.Models.infomed>

@{
    ViewData["Title"] = "MEDISYS DASHBOARD";
}

<partial name="_Notification"/>
@if(TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}

@*On refresh it goes away because it gets stored in the temp data*@


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">Patients with Appointments</h2>
        </div>
        <div class="col-6 text-end">
             <a asp-action="Create"class="btn btn-primary">
                   + Add Patient
                 </a>
            
        </div>
    </div>
</div>
<p>
   
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.illness)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medicinetype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.illness)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.medicinetype)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"class="btn btn-success"> Generate report</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger"> Delete</a> 
            </td>
        </tr>
}
    </tbody>
</table>
